<div class="bar bar-header bar-positive">
  <h1 class="title">
    <img src="img/team_mehdi.jpg">
  </h1>
  <button class="button button-icon icon ion-plus"></button>
</div>
<!-- <div class="bar bar-subheader">
  <h2 class="title">Sub Header</h2>
</div> -->
<br/>
<br/>
<ul class="list">
    <li class="item">
      <h2>Davy Engone</h2>
      <p>Basketball: 3 points shouts</p>
      <span class="badge badge-assertive">1</span>
    </li>
    <li class="item">
      <h2>Davy Engone</h2>
      <p>Basketball: 3 points shouts</p>
      <span class="badge badge-assertive">1</span>
    </li>
    <li class="item">
      <h2>Davy Engone</h2>
      <p>Basketball: 3 points shouts</p>
      <span class="badge badge-assertive">1</span>
    </li>
</ul>
<div class="bar bar-footer bar-positive">
  <h1 class="title">
    <button class="button button-icon icon ion-plus"></button>
  </h1>
</div>
