<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="vm.goBack()"></button>
    <h1 class="title">
      <img src="img/team_mehdi.jpg">
    </h1>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div class="list card game-title">
      <div class="item item-body">
        FIFA
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="row">
          <img src="img/team_mehdi.jpg">
          <img src="img/vs.png">
          <img src="img/team_davy.jpg">
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="row">
          <div class="col score loser">
            <span>2</span>
          </div>
          <div class="col score">
            <i class="ion-minus-round"></i>
          </div>
          <div class="col score winner">
            <span>1</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <span class="score">10</span>
          </div>
          <div class="col">-</div>
          <div class="col">
            20
          </div>
        </div>
      </div>
    </div> -->
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-plus"></button>
    <button class="button button-icon icon ion-minus"></button>
    <!-- <div class="row">
      
      <div class="col"></div>
      <div class="col">
        <i class="ion-plus-minus"></i>
      </div>
    </div> -->
  </ion-footer-bar>
</ion-view>