<div class="bar bar-header bar-positive">
  <a class="button button-icon ion-person" href="#/contact"></a>
  <h1 class="title">
    <img src="img/team_mehdi.jpg">
  </h1>
  <button class="button button-icon icon ion-search"></button>
</div>
<br/>
<br/>

<div class="list">

  <div class="item item-divider">
    Basketball
  </div>
  <a class="item item-avatar" href="#/challengr/davyengone">
      <img src="img/team_mehdi.jpg">
      <h2>Mehdi Mitchel</h2>
      <p>Time for a revenge?</p>
      <span class="badge badge-assertive">1</span>
  </a>

  <a class="item item-avatar" href="#">
      <img src="img/team_davy.jpg">
      <h2>Davy Engone Nze</h2>
      <p>Time for a revenge?</p>
      <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-avatar" href="#">
      <img src="img/team_max.jpg">
      <h2>Davy Engone Nze</h2>
      <p>Time for a revenge?</p>
      <span class="badge badge-assertive">0</span>
  </a>
  <div class="item item-divider">
    FIFA 2015
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Davy Engone

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Mehdi Mitchell

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Max Cz

    <span class="badge badge-assertive">0</span>
  </a>

  <div class="item item-divider">
    Tennis
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Davy Engone

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Mehdi Mitchell

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Max Cz

    <span class="badge badge-assertive">0</span>
  </a>
  <div class="item item-divider">
    Judo
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Davy Engone

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Mehdi Mitchell

    <span class="badge badge-assertive">0</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Max Cz

    <span class="badge badge-assertive">0</span>
  </a>

</div>
